/node_modules
.env
MONGO_URI = mongodb+srv://dickson007:vDAEJj1MxPWyl9OA@nodejsexpresscluster.mjkclyz.mongodb.net/?retryWrites=true&w=majority                                                                                                                       